/* Mixins */

/* Mediaqueries */
  
@mixin from($size) {
    @media (max-width: $size) {
        @content;
    }
}
  
/* Fontfamilies */

@mixin fontfamilies($name, $file) {

$path: "./fonts/" + $name + "/" + $file;
    @font-face {
        font-family: $name;
        src: url($path + ".eot");
        src: url($path + ".eot?#iefix") format("embedded-opentype"), url($path + ".woff") format("woff"),
        url($path + ".ttf") format("truetype"), url($path + ".svg#" + $name) format("svg");
        font-weight: normal;
        font-style: normal;
        font-display: fallback;
    }
}

@mixin textstyle($color, $family, $size, $weight, $decoration: none) {
    color: $color;
    font-family: $family,sans-serif;
    font-size: $size;
    font-weight: $weight;
    text-decoration: $decoration;
}
  